<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/Restaurants.css' />
    </head>
<body>
    <header>
        <span>Project - Group 6</span>
    </header>

    <br/><br/><br/><br/>
    {{{body}}}

    <footer>
        <span>Bhavika Patel - N01432720</span><br/>
        <span>Udit Pandya - N01488740</span>
    </footer>
</body>
</html>