<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="center">
        <form method="GET" action="/api/find-restaurants">
          <pre>
                  <label for="page">Enter Page:</label>       <input type="text" name="page" placeholder="Page"/><br/>

                  <label for="perPage">Enter Per Page:</label>   <input type="text" name="perPage" placeholder="Per Page"/><br/>

                  <label for="borough">Enter Borough:</label>    <input type="text" name="borough" placeholder="Borough"/><br/>

                      <input class="Submit" type="submit" value="Submit"/>    <input class="Reset" type="reset" value="Reset"/>
          </pre>
        </form>
      </div>
  </body>
</html>