<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <button class="back" onclick="logout()">Logout</button>
    <div class="center" id="div">
        <form action="/api/find-restaurants" method="get">
        
        <input type="hidden" id="sessionVal" value={{response.session_id}} />
        <input type="hidden" id="tokenVal" value={{response.token}} />
          <pre>
                  <label for="page">Enter Page:</label>       <input type="text" id="page" name="page" placeholder="Page"/><br/>

                  <label for="perPage">Enter Per Page:</label>   <input type="text" id="perPage" name="perPage" placeholder="Per Page"/><br/>

                  <label for="borough">Enter Borough:</label>    <input type="text" id="borough" name="borough" placeholder="Borough"/><br/>

                      <input class="Submit" type="button" onclick="findRestaurants()" value="Submit"/>    <input class="Reset" type="reset" value="Reset" onclick="document.location.reload()"/>
          </pre>
        </form>
        <div class="center" id="divInfo">
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script>
          //redirect to Restaurant view
          function findRestaurants() {
              var params = { 
                    page: `${document.getElementById('page').value}`, 
                    perPage : `${document.getElementById('perPage').value}`
                  };
                  console.log(document.getElementById('borough').value);
                  if (document.getElementById('borough').value != null && document.getElementById('borough').value != '') 
                      params.borough = `${document.getElementById('borough').value}`

              $.ajax({
                url: '/api/find-restaurants',
                type: `get`,
                data: params,
                headers: {"Authorization": `bearer ${document.getElementById('tokenVal').value}`},
                success: function (response) {
                  document.location.href = `/api/view-restaurants?page=${document.getElementById('page').value}&perPage=${document.getElementById('perPage').value}&borough=${document.getElementById('borough').value}`;
                },
                error: function (response) {
                  console.log(response);
                }
              });
        }

        function logout() {
              $.ajax({
                url: '/api/logout',
                type: `post`,
                data: { 
                    session_id: `${document.getElementById('sessionVal').value}`
                  },
                headers: {"Authorization": `bearer ${document.getElementById('tokenVal').value}`},
                success: function (response) {
                  document.location.href = `/api/`;
                },
                error: function (response) {
                  console.log(response);
                }
              });
        }
        </script>
      </div>
  </body>
</html>