<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="center">
        <form method="GET" action="/api/find-restaurants">
        
        <input type="hidden" id="sessionVal" value={{response.session_id}} />
        <input type="hidden" id="tokenVal" value={{response.token}} />
          <pre>
                  <label for="page">Enter Page:</label>       <input type="text" name="page" placeholder="Page"/><br/>

                  <label for="perPage">Enter Per Page:</label>   <input type="text" name="perPage" placeholder="Per Page"/><br/>

                  <label for="borough">Enter Borough:</label>    <input type="text" name="borough" placeholder="Borough"/><br/>

                      <input class="Submit" type="submit" value="Submit"/>    <input class="Reset" type="reset" value="Reset"/>
          </pre>
        </form>
        <script>
          const session_id = document.getElementById('sessionVal').value;
          const token = document.getElementById('tokenVal').value;
          window.localStorage.setItem("session", session_id);
          

          $.ajax({
            headers: {"Authorization": `bearer ${window.localStorage.setItem("token", token)}`}
          });
        </script>
      </div>
  </body>
</html>