<!DOCTYPE html>
<html>
  <head>
    <title>Login - Group 6</title>
  </head>
  <body>
    <div class="center">
        <form method="POST" action="/api/login">
          <pre>
                  <label for="email">Enter Username:</label>   <input type="text" name="email" placeholder="Enter Email"/><br/>

                  <label for="password">Enter Password:</label>   <input type="password" name="password" placeholder="Enter Password"/><br/>

                    <input class="Submit" type="submit" value="Submit"/>    <input class="Reset" type="reset" value="Reset"/>
          </pre>
        </form>
      </div>
  </body>
</html>