<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/Restaurants.css"/>
  </head>
  <body>
    <div class="grid-container">
        {{#each restaurants}}
            <div>{{this.name}}</div>
        {{/each}}
    </div>
  </body>
</html>